<a href="https://colab.research.google.com/github/H-y-hoon/Melon_chart_analysis/blob/main/singer_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#구글 드라이브와 mount(연결)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

c18 = pd.read_csv("/content/drive/MyDrive/데이터 시각화 프로젝트(22-2)/수정데이터/melon_2018.csv", encoding = 'utf-8', index_col = 0)
c19 = pd.read_csv("/content/drive/MyDrive/데이터 시각화 프로젝트(22-2)/수정데이터/melon_2019.csv", encoding = 'utf-8', index_col = 0)
c21 = pd.read_csv("/content/drive/MyDrive/데이터 시각화 프로젝트(22-2)/수정데이터/melon_2021.csv", encoding = 'utf-8', index_col = 0)
c22 = pd.read_csv("/content/drive/MyDrive/데이터 시각화 프로젝트(22-2)/수정데이터/melon_2022.csv", encoding = 'utf-8', index_col = 0)

In [ ]:
c18.drop(['제목', '가사'], axis = 1, inplace = True)
c19.drop(['제목', '가사'], axis = 1, inplace = True)
c21.drop(['제목', '가사'], axis = 1, inplace = True)
c22.drop(['제목', '가사'], axis = 1, inplace = True)

In [ ]:
c18.drop_duplicates(subset='songID', keep='first', inplace = True)
c19.drop_duplicates(subset='songID', keep='first', inplace = True)
c21.drop_duplicates(subset='songID', keep='first', inplace = True)
c22.drop_duplicates(subset='songID', keep='first', inplace = True)

In [ ]:
c18

        songID               가수
0     30755375              장덕철
1     30806580             DEAN
2     30086173    문문 (MoonMoon)
3     30514366             멜로망스
4     30829858           볼빨간사춘기
...        ...              ...
1191  31433088  Wanna One (워너원)
1194  31433092  Wanna One (워너원)
1195  31492321              EXO
1198  31433093  Wanna One (워너원)
1199  31510409              장덕철

[345 rows x 2 columns]

In [ ]:
c22.drop(['songID'], axis = 1, inplace = True)

In [ ]:
#csv파일로 전환
c18.to_csv("singer18.csv", encoding='utf-8')
c19.to_csv("singer19.csv", encoding='utf-8')
c21.to_csv("singer21.csv", encoding='utf-8')
c22.to_csv("singer22.csv", encoding='utf-8')